In [1]:
import pandas as pd

In [2]:

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
    })

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
    })

In [3]:

pd.concat([df1, df2], ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [4]:
# concat by columns
pd.concat([df1, df2], axis = 1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

# merge

In [5]:
left = pd.DataFrame({ 'key': ['k0', 'k1', 'k2', 'k3'],
'a': ['a0', 'a1', 'a2', 'a3'],
'b': ['b0', 'b1', 'b2', 'b3'],
})

In [6]:
right = pd.DataFrame({ 'key_2': ['k0', 'k1', 'k2', 'k3'],
'c': ['c0', 'c1', 'c2', 'c3'],
'd': ['d0', 'd1', 'd2', 'd3'],
})

In [9]:
#left.merge(right)

In [10]:
left.merge(right, left_on='key', right_on='key_2')

  key   a   b key_2   c   d
0  k0  a0  b0    k0  c0  d0
1  k1  a1  b1    k1  c1  d1
2  k2  a2  b2    k2  c2  d2
3  k3  a3  b3    k3  c3  d3

# joining

In [13]:
left2 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['k0', 'k1', 'k2'])


right2 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
}, index=['k0', 'k2', 'k3'])

In [17]:
# joins directly to the indexes
left2.join(right2)

# inner join
left2.join(right2, how='inner')

     A   B   C   D
k0  A0  B0  C0  D0
k2  A2  B2  C1  D1