In [1]:
import pandas as pd
import numpy as np

In [3]:
file = pd.read_csv('all_tables.csv')
file.head()

,Pos,Team,GP,W,L,SW,GF,GA,GD,Pts,Qualification,Conference,Year,SL,D,Head-to-head,PPG
0,1.0,Tampa Bay Mutiny,32,19,12,1.0,66,51,+15,58,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
1,2.0,D.C. United,32,15,16,1.0,62,56,+6,46,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
2,3.0,NY/NJ MetroStars,32,12,17,3.0,45,47,−2,39,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
3,4.0,Columbus Crew,32,11,17,4.0,59,60,−1,37,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
4,5.0,New England Revolution,32,9,17,6.0,43,56,−13,33,NaN,Eastern Conference,1996,NaN,NaN,NaN,NaN

In [10]:
players = pd.read_csv('all_players.csv')
players.head()

fish = players['Player'] == 'Carlos Ruiz'

In [13]:
players[fish].describe()

,GP,GS,MINS,G,A,SHTS,SOG,GWG,HmG,RdG,...,HmA,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,...,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,17.000000,18.000000
mean,11.222222,9.500000,868.388889,5.833333,1.055556,30.888889,16.111111,1.611111,3.722222,2.111111,...,0.777778,0.277778,0.060556,22.444444,25.500000,14.777778,2.500000,0.111111,52.687647,2007.166667
std,10.044346,9.696876,854.376838,6.706011,1.661757,31.940918,17.894754,2.379790,4.456397,2.541164,...,1.477500,0.574513,0.095392,25.520977,27.939536,14.814760,3.203858,0.323381,22.957411,4.475423
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2002.000000
25%,2.000000,2.000000,185.250000,1.000000,0.000000,4.500000,2.250000,0.000000,0.250000,0.000000,...,0.000000,0.000000,0.000000,3.500000,6.250000,3.250000,0.000000,0.000000,45.000000,2004.000000
50%,9.500000,5.500000,547.500000,2.000000,0.000000,15.500000,7.500000,0.500000,1.500000,1.000000,...,0.000000,0.000000,0.000000,10.000000,10.500000,8.500000,1.000000,0.000000,50.000000,2006.000000
75%,19.750000,18.000000,1576.750000,10.250000,2.000000,57.750000,28.000000,2.750000,6.750000,3.750000,...,1.000000,0.000000,0.107500,44.000000,41.000000,24.500000,4.250000,0.000000,57.140000,2010.250000
max,27.000000,26.000000,2376.000000,24.000000,5.000000,100.000000,56.000000,9.000000,15.000000,9.000000,...,5.000000,2.000000,0.320000,76.000000,87.000000,46.000000,9.000000,1.000000,100.000000,2016.000000

In [14]:
players

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15762,Alejandro Pozuelo,NaN,M,1,1,120,0,0,5,0,...,0,0.00,2,0,0,0,0,0.00,2020,post
15763,Franco Jara,NaN,F,2,2,210,0,0,5,1,...,0,0.00,6,2,3,0,0,20.00,2020,post
15764,Andy Polo,NaN,M,1,1,105,0,0,6,3,...,0,0.00,0,3,0,0,0,50.00,2020,post
15765,Cristian Roldan,NaN,M,4,4,360,0,0,6,1,...,0,0.00,5,11,0,0,0,16.67,2020,post
15766,Joevin Jones,NaN,D-M,4,4,260,0,0,8,1,...,0,0.00,1,7,0,0,0,12.50,2020,post